In [1]:
import sqlite3
import pandas as pd
import numpy as np
import sys
sys.path.append('C:/Users/Archiebald/Moons/Task_1')
from jupiter import Moons

In [2]:
sys.path.append('C:/Users/Archiebald/Moons/Task_1')

In [3]:
jupiter_moons = Moons("jupiter_kepler.db", "data/")

In [4]:
jupiter_moons.all_data().head()

,moon,period_days,distance_km,radius_km,mag,mass_kg,group,ecc,inclination_deg
0,Adrastea,0.298,129000.0,8.2,NaN,NaN,Inner,0.001500,0.03
1,Aitne,730.000,23231000.0,1.5,22.7,NaN,Carme,0.264000,165.00
2,Amalthea,0.498,181400.0,83.5,14.1,2.080000e+18,Inner,0.003190,0.37
3,Ananke,630.000,21300000.0,14.0,18.9,NaN,Ananke,0.174725,148.60
4,Aoede,761.000,24000000.0,2.0,22.5,NaN,Pasiphae,0.432000,158.00

In [5]:
jupiter_moons.convert_distance("km", "radius_km")
jupiter_moons.convert_time("days","period_days")
jupiter_moons.gen_sma("semi_major_axis","radius_m","ecc")
jupiter_moons.prepare_data("period_s","semi_major_axis")

,moon,period_days,distance_km,radius_km,mag,mass_kg,group,ecc,inclination_deg,radius_m,period_s,semi_major_axis
0,Adrastea,0.298,129000.0,8.2,NaN,NaN,Inner,0.001500,0.03,8200.0,25747.2,8212.318478
1,Aitne,730.000,23231000.0,1.5,22.7,NaN,Carme,0.264000,165.00,1500.0,63072000.0,2038.043478
2,Amalthea,0.498,181400.0,83.5,14.1,2.080000e+18,Inner,0.003190,0.37,83500.0,43027.2,83767.217424
3,Ananke,630.000,21300000.0,14.0,18.9,NaN,Ananke,0.174725,148.60,14000.0,54432000.0,16964.038178
4,Aoede,761.000,24000000.0,2.0,22.5,NaN,Pasiphae,0.432000,158.00,2000.0,65750400.0,3521.126761

In [6]:
jupiter_moons.all_data().head()

In [7]:
jupiter_moons.test_train("T_squared","a_cubed")

ValueError: Expected 2D array, got 1D array instead:
array=[6.36768000e+07 2.14272000e+07 1.44193119e+06 2.17728000e+07
 6.21216000e+07 6.57504000e+07 2.50560000e+04 5.48640000e+07
 6.05664000e+07 6.14304000e+07 5.78880000e+04 2.23776000e+07
 5.98752000e+07 5.90112000e+07 6.17760000e+05 1.51200000e+05
 5.42592000e+07 5.26176000e+07 5.39136000e+07 6.56640000e+07
 5.53824000e+07 6.71328000e+07 6.73056000e+07 6.17760000e+07
 6.45408000e+07 6.30720000e+07 4.76064000e+07 4.30272000e+04
 5.43456000e+07 2.22912000e+07 6.60960000e+07 6.24672000e+07
 6.23808000e+07 3.93984000e+07 3.06822038e+05 5.20992000e+07
 5.21856000e+07 5.42592000e+07 6.79968000e+07 5.35680000e+07
 6.42816000e+07 5.24448000e+07 5.97888000e+07 2.09088000e+07].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.